@tailwind base;
@tailwind components;
@tailwind utilities;

@import './card-item.module.scss';
@import "./NavBar.scss";
@import "./SideBar.scss";
@import "./Login.css";
@import "./Register.css";
@import "./CreateActivity.scss";
@import './EditActivity.scss';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

$nav_bar_height: 64px;

body {
  // margin: 0 auto;
  // padding: 0;
  // box-sizing: border-box;
  // max-width: 1440px;
  // @apply bg-main; 
}

.main-layout-container {
  @apply grid grid-cols-4 bg-main;
  height: calc(100% - $nav_bar_height)
}

.main-layout-container .main {
  @apply col-span-2;
}

.main {
  @apply overflow-scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
