@tailwind base;
@tailwind components;
@tailwind utilities;

@import './card-item.module.scss';
@import "./NavBar.scss";
@import "./SideBar.scss";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  @apply bg-main; 
}

.main-layout-container {
  @apply grid grid-cols-4 h-full bg-main;
}

.main-layout-container .main {
  @apply col-span-2;
}
