.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: grey;
    background-image: linear-gradient(79deg, black, rgb(40, 40, 40) 48%, grey);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 5px solid violet;
        border-radius: 10px;
        margin: 0.5rem;
    }
}

.title {
    text-align: center;
    font-size: xx-large;
    padding: 0.25rem 0;
    margin-top: 20px;
}

label {
    text-align: left;
    font-size: larger;
    padding: 0.25rem 0;
    margin-top: 20px;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1rem;
    border-radius: 10px;
    color: grey;
}

button {
    border: none;
    background-color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}